<div class="container">
  <a>Minulla on jo diili! - Kirjaudu sisään</a>
  <img class="logo" src="/assets/images/apy2015_white.png">

  <h2>Diilin vastuuhenkilö</h2>
  <user-form user="deal.users[0]"></user-form>
  <p>{{deal.users}}</p>

    <h2>Muut myyjät</h2>

    <div class="salesman-list-container">
      <div class="header">
        <span class="salesman-name">Myyjä</span>
        <span class="products">Myyjätuotteet</span>
      </div>
      <ul>
        <li class="salesman">
          <salesman-info></salesman-info>
        </li>
        <li class="salesman">
          <salesman-info></salesman-info>
        </li>
      </ul>
    </div>
    <button ng-if="!addingUser" ng-click="openAddUserForm()">
      Lisää myyjä
    </button>
    <user-form ng-if="addingUser"></user-form>








</div>
