.basic-info-fields,
.other-information,
.deal-size-container {
  .make-row();
  max-width: 700px;
  margin: auto;
}

.first-name,
.last-name,
.email {
  .make-xs-column(4);
}

.guild,
.class-year {
  .make-xs-column(8);
}

.deal-size {
  .make-xs-column(12);
}

.deal_owner input.ng-invalid.ng-dirty {
    border-width: 3px;
    border-style: solid;
    border-color: #ff0015;
}
